@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #f3f2ee;
}

a {
  @apply text-blue-500;
}

button {
  @apply bg-blue-500;
}


/* #region SplashScreen */
@keyframes initial-loading {
  0%, 100% {
    transform: translate(-34px, 0);
  }
  50% {
    transform: translate(96px, 0);
  }
}
.initial-load-animation {
  width: 200px;
  margin: 0 auto;
  transform: scale(1.1) translateY(-30px);
  transition: transform .5s ease;
}
.initial-load-animation .linkedin-image {
  background-image: url(https://static.licdn.com/sc/h/6m22ya0r3as5388b95jkuk1mv);
  height: 48px;
  width: 48px;
  margin: 0 auto 32px;
  transform: translate(0, 0);
  opacity: 1;
  transition: all .5s ease-out;
}
.initial-load-animation .loading-bar {
  width: 130px;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #cfcfcf;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transform: rotateY(0);
  transition: transform .3s ease-in;
}
.initial-load-animation .loading-bar .blue-bar {
  height: 100%;
  width: 68px;
  position: absolute;
  transform: translate(-34px, 0);
  background-color: #0073b1;
  border-radius: 2px;
  animation: initial-loading 1.5s infinite ease;
}
.initial-load-animation .fade-load .linkedin-image {
  transform: translate(0, 10px);
  opacity: 0;
}
.initial-load-animation .fade-load .loading-bar {
  transform: rotateY(90deg);
}

/* #endregion SplashScreen */






/* region typing indicator bubble */


.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #374151;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0px 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}

/* endregion typing indicator bubble */